*{ 
    margin: 0;

}


body{
    background-color: lightgray;
}


.row {

    box-shadow: 0 0 10px 0 #AAAAAA;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    
}





.topo {
background-color: orangered;


}



p{
    font-family: 'Poppins', sans-serif;
    
}


.prato {
   
    cursor: pointer; 
}

.bebida {
    
    color: black;
    cursor: pointer;
   
    
}



.sobremesa {
    color: black;
    cursor: pointer;
   
}

img{
    float: right;
    width: 100px;
    height: 60px;
}

#Topo{
   background-color: orangered;
   color: white;
   border-radius: .25rem;
}

.button {
    background: green;
    color: white;
    border-radius: .25rem;
    width: 15rem;
    
}